{{ printf `site.Title = %#v <br>` site.Title | safeHTML }}
{{ printf `$.Site.Title = %#v <br><br>` $.Site.Title | safeHTML }}

{{ printf `site.Params.mainSections = %#v <br>` site.Params.mainSections | safeHTML }}
{{ printf `$.Site.Params.mainSections = %#v <br><br>` $.Site.Params.mainSections | safeHTML }}

{{ printf `site.Params.feedSections = %#v <br>` site.Params.feedSections | safeHTML }}
{{ printf `$.Site.Params.feedSections = %#v <br>` $.Site.Params.feedSections | safeHTML }}
